/* Estilos gerais */

html, body {
    background-color: #fff;
}

h1 {
    margin-top: 50px;
}

p {
    color: black;
}

/* NavBar */

.navbar-container-listar-categorias {
    width: 100%;
    height: 80px;
    background-color: black;
    padding: 0 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav {
    height: 80px;
    display: flex;
    align-items: center;
    position: relative;
}

.logo {
    width: 50px;
    margin-top: 5px;
}

.navbar-itens-listar-categorias {
    position: absolute;
    right: 0;
    height: 80px;
    line-height: 80px;
    display: flex;
    gap: 25px;
    align-items: center;
}

.navbar-itens-listar-categorias li {
    list-style: none;
    text-transform: uppercase;
}

.navbar-itens-listar-categorias .link-btn-listar-categorias {
    padding: 10px 15px;
    background-color: black;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.navbar-itens-listar-categorias .link-btn-listar-categorias:hover {
    background-color: white;
    color: black;
    padding: 10px 15px;
}

/* Botão */

.default-btn-listar-categorias {
    padding: 10px 15px;
    background-color: black;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.default-btn-listar-categorias:hover {
    background-color: white;
    color: black;
}

/* Main banner */

.main-admin-listar-categorias {
    background-color: #fff;
}

.div-banner-listar-categorias {
    background-image: url(../../images/img/banner-home-page.jpg);
    background-size: cover;
    background-position: center;
    padding: 10rem 0;
    margin-top: 80px;
    width: 100%;
    overflow-x: hidden;
}

.div-banner-listar-categorias h1, .div-banner-listar-categorias p {
    color: #fff;
    text-align: center;
    font-weight: bold;
    text-shadow: #000 3px 2px 3px;
}

.div-banner-listar-categorias h1 {
    font-size: 54px;
}

.div-banner-listar-categorias p {
    font-size: 32px;
}

/* Container Pratos*/

.container-listar-categorias > h1 {
    text-align: center;
    color: black;
    padding-bottom: 10px;
    margin-top: 20px;
}

.listar-categorias {
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    padding: 25px;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
}

/* Card */

.card-listar-categorias {
    width: 350px;
    max-width: 100%; 
    color: black;
    background-color: #ffffff6c;
    border-radius: 10px;
    padding-bottom: 15px;
    margin-top: auto;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.384);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-listar-categorias {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-listar-categorias:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.card-listar-categorias img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-listar-categorias p {
    background-color: rgb(233, 241, 238);
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.384);
    padding: 5px;
}

.acoes-card-listar-categorias {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 10px;
}

.btn-icon {
    width: 40px;
    height: 40px;
    color: #fff;
    border: 1px solid black;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

.btn-icon img {
    width: 22px;
    height: 22px;
}

.btn-icon:hover {
    background-color: green;
    transform: scale(1.1);
}

.btn-icon.deletar:hover {
    background-color: red;
    transform: scale(1.1);
}

/* Footer */

footer p{
    text-align: center;
    font-weight: bold;
    margin: 50px 0 100px;
    padding: 10px;
    margin-bottom: auto;
    color: #fff;
    background-color: #000;
}

/* Responsividade */

@media (max-width: 576px) {
    html, body {
        overflow-x: hidden;
    }

    .navbar-itens-listar-categorias {
        gap: 10px;
    }

    .navbar-itens-listar-categorias li {
        font-size: 12px;
    }

    .main-banner-listar-categorias p {
        padding: 0 2rem;
    }
}