@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

#pagamento {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    background-color: #000000;
    width: 95%;
    max-width: 1100px;
    min-height: 570px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);
    transform: translate(-50%, -50%);
    transition: width .5s, height .5s;
    transition-timing-function: ease;
}

.main-pagamento{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.left-pagamento{
    width: 50vw;
    height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

.left-pagamento > h1 {
    font-size: 2.2rem;
    color: #ffffff;
}

.left-pagamento-image{
    width: 100%;
    max-width: 400px;
}

.left-pagamento, .right-pagamento{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-pagamento{
    width: 80%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-pagamento > h1 {
    color: #000000;
    font-weight: 800;
    font-size: 2rem;
    margin: 0 0 20px 0;
    text-align: center;
}

.textfield.pagamento{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}

.textfield.pagamento > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #ffffff;
    color: #000000;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield.pagamento > label {
    color: #000000;
    margin-bottom: 10px;
}

.textfield.pagamento > input::placeholder{
    color: #000000;
}

.btn-pagamento{
    width: 100%;
    padding: 16px 0px;
    margin: auto;
    margin-top: 10px;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #ffffff;
    background: #000000;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

.btn-pagamento:hover {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #000000;
}

.voltar-link-pagamento {
    font-size: 14px;
    color: #000000;
    text-align: center;
    margin-top: 15px;
}

.voltar-link-pagamento, a {
    color: #0a0a0a;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

/* Tablet */

@media only screen and (max-width: 768px) {
    .main-pagamento {
        flex-direction: column;
    }

    .left-pagamento,
    .right-pagamento {
        width: 100%;
        height: auto;
    }

    .left-pagamento > h1 {
        font-size: 2rem;
    }

    .left-pagamento-image {
        width: 70%;
    }
}

/* Celular */

@media only screen and (max-width: 480px) {
    .left-pagamento > h1 {
        font-size: 1.5rem;
    }

    .card-pagamento {
        padding: 20px;
    }

    .btn-pagamento {
        font-size: 0.9rem;
        padding: 12px;
    }

    .left-pagamento-image {
        width: 90%;
    }
}