@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

#cadastro {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    background-color: #000000;
    width: 95%;
    max-width: 1100px;
    min-height: 570px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.45);
    transform: translate(-50%, -50%);
}

.main-cadastro {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

/* LADO ESQUERDO */

.left-cadastro {
    width: 50%;
    padding: 20px;
    text-align: center;
}

.left-cadastro > h1 {
    font-size: 1.8rem;
    color: #ffffff;
    margin-bottom: 25px;
}

.left-cadastro-image {
    width: 100%;
    max-width: 350px;
}

/* LADO DIREITO */

.right-cadastro {
    width: 50%;
    display: flex;
    justify-content: center;
}

/* CARD */

.card-cadastro {
    width: 100%;
    max-width: 360px;
    background: #ffffff;
    padding: 0px 30px;
    border-radius: 20px;
    box-shadow: 0 10px 40px #00000056;
}

.card-cadastro > h1 {
    color: #000000;
    font-weight: 950;
    font-size: 2rem;
    margin-bottom: 50px;
    text-align: center;
    word-break: break-word;
}

.textfield.cadastro {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.textfield.cadastro > input {
    border: none;
    border-radius: 10px;
    padding: 14px;
    background: #ffffff;
    color: #000000;
    font-size: 1rem;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
}

.textfield.cadastro > label {
    color: #000000;
    margin-bottom: 8px;
}

.btn-cadastro {
    width: 100%;
    padding: 15px 0;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: #ffffff;
    background: #000000;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #130e0ead;
}

.btn-cadastro:hover {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #000000;
}

.login-link {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #000000;
    text-align: center;
}

.login-link a {
    color: #0a0a0a;
    text-decoration: none;
    font-weight: bold;
}

/* TABLET */

@media only screen and (max-width: 768px) {
    #cadastro {
        min-height: auto;
        padding: 20px 0;
    }

    .main-cadastro {
        flex-direction: column;
        padding: 15px;
    }

    .left-cadastro, .right-cadastro {
        width: 100%;
        padding: 10px;
    }

    .left-cadastro-image {
        max-width: 250px;
    }
}

/* CELULAR */

@media only screen and (max-width: 480px) {
    .card-cadastro {
        max-width: 300px;
        padding: 20px;
    }

    .card-cadastro > h1 {
        font-size: 1.2rem;
    }

    .left-cadastro > h1 {
        font-size: 1.6rem;
    }
}